# Identidad canonica de los commits del repositorio.
Alseif0x <alseif0x0@gmail.com> <joegv7@gmail.com>
Alseif0x <alseif0x0@gmail.com> Joe Gonzales <joegv7@gmail.com>
Alseif0x <alseif0x0@gmail.com> cDmonio <joegv7@gmail.com>
